
<div>

	<center><h1>Takeout</h1>
		<button id=OrderButton @onclick="OrderTakeoutOnCl">Order here!</button>
	</center>
</div>
@code {
	
private void OrderTakeoutOnCl()
	{
		// navigate to OrderTakeout.razor
	}
}
