
<PageTitle>Eat in online queue</PageTitle>
<h3>Online queue</h3>
<p role="status">Estimated wait: @estimatedWait</p>
<button class="btn btn-primary" @onclick="JoinQue">Join que</button>
<button class="btn btn-primary"  @onclick="HowWorksQue">How it works?</button>
@code {
	private int estimatedWait;
	private int quePlace;
	public void JoinQue()
	{	

	}
	private void HowWorksQue()
	{
		
	}
}
